@model WebApp.Areas.Admin.Models.Donhang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datecheckout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datecheckout)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
