@model WebApp.Areas.Admin.Models.Thuonghieu
@{
    ViewData["Title"] = "Create";
}

<h1>@(ViewContext.RouteData.Values["id"] != null ? "Chỉnh sửa thương hiệu" : "Thêm thương hiệu mới")</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(ViewContext.RouteData.Values["id"] != null ? "Edit" : "Create")" asp-route-id="@(ViewContext.RouteData.Values["id"]!=null
    ?ViewContext.RouteData.Values["id"]:"")" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (ViewContext.RouteData.Values["id"] != null)
                {
                    <input type="hidden" asp-for="MaThuonghieu">
                }
            }
            <h1></h1>
            <div class="form-group">
                <label asp-for="TenTH" class="control-label"></label>
                <input asp-for="TenTH" class="form-control" id="ten" />
                <span asp-validation-for="TenTH" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ful" name="ful">
                <label class="custom-file-label" for="ful">Choose file</label>
            </div>
            <div class="form-group">
                <img id="imgPre" src="~/img/noimage.png" alt="no Image" class="img-thumbnail" style="height:20%;width:20%" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Trangthai" id="trangthai" /> @Html.DisplayNameFor(model => model.Trangthai)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@(ViewContext.RouteData.Values["id"]!=null?"Cập nhật":"Thêm mới")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });
    </script>
}










