@model WebApp.Areas.Admin.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd>
            <div class="form-group">
                <img id="imgPre" src="~/img/pro/@Html.DisplayFor(model=>model.Hinh)" alt="no Image" class="img-thumbnail" width="100" />

            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dophangiai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dophangiai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LSP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LSP.TenLoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.THSP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.THSP.TenTH)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    function readURL(input, idImg) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(idImg).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#ful").change(function () {
        readURL(this, '#imgPre');
    });
    </script>
}