@model WebApp.Areas.Admin.Models.LoaiSP


<partial name="Create">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên loại
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (LoaiSP item in ViewBag.ListLSP)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.MaLoai">Chỉnh sửa</a>
                        <button class="btn btn-warning" name="btn_update_stt" data-id="@item.MaLoai" data-stt="@(item.TrangThai == true ? 0 : 1)"
                                data-name="@item.TenLoai">
                            @{ if (item.TrangThai == true)
                                {
                                    @:Ẩn
                                }
                                else
                                {
                                    @:Hiện
                                }
                            }
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $('button[name=btn_delete]').click(function () {
                var id = $(this).attr('data-id');
         
                $.ajax({
                    method: "Delete",
                    url: "  ../api/loaisp_api/DeleteLoaiSP/"+id,
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({ "id": id })
                })
                    .done(function (msg) {
                        alert(msg);
                        location.reload();
                    }).fail(function () { alert("Error") });
            })



            $('button[name=btn_update_stt]').click(function () {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');
                var stt = ($(this).attr('data-stt') == 0 ? false : true)
                $.ajax({
                    method: "PUT",
                    url: "  ../api/loaisp_api/PutLoaiSP/" + id,
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({ "id": id,"TenLoai": name, "TrangThai": stt })
                })
                    .done(function (msg) {
                        alert(msg);
                        location.reload();
                    }).fail(function () { alert("Error") });
            })


        </script>
    }
